# Collections of Polymers
*Polymers*/*
Polyamides/*
Collections/*

# Custom utilities which have their own repo
polymer_utils/*
polysaccharide/*

# compiled python files
*cpython*

# SLURM files
*.job
*.out

# temporary testing folders
pcharge_heatmaps/*
logging_test/*