# Collections of Polymers
*Polymers*/*
Polyamides/*
Collections/*
Collections_legacy/*
Reruns/*
Reruns_PBC/*
Reruns_PBC_2/*

# Custom utilities which have their own repo
polymer_utils/*
polysaccharide/*

# compiled python files
*cpython*

# SLURM files
*.job
*.out
slurm_logs/*
slurm_logs_prior/*
blanca_testing/*

# additional data
colina_data/*
long_linear_polymers/*
data_for_paper_200/*

# figure and plots
pcharge_heatmaps/*
plots_for_paper/*

figures_for_pres/*
figures_for_paper/*
figures_v3/*
figures_v4/*

# debugging
debug.py
trans_pdb/*
newest_structures/*
conf_gen/*

# Special exception to specifically NOT ignore
!slurm_dispatch.job 