# Collections of Polymers
*Polymers*/*
Polyamides/*
Collections/*
Collections_legacy/*

# Custom utilities which have their own repo
polymer_utils/*
polysaccharide/*

# compiled python files
*cpython*

# SLURM files
*.job
*.out
slurm_logs/*
blanca_testing/*

# figures and plots
pcharge_heatmaps/*
plots_for_paper/*
figures_for_paper/*
colina_data/*
long_homopolymers/*

# debugging
debug.py
trans_pdb/*
newest_structures/*

# Special exception to specifically NOT ignore
!slurm_dispatch.job 